.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.home h1 {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
/* Home Introduction */
.home__intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    justify-content: space-around;
}
.tagline{
    font-family: 'Bebas Neue', cursive;
    font-size:5rem;
    color: rgb(0, 0, 0);
}
.home__intro > img {
    border-radius: 50%;
    height: minmax(200px,500px);
    object-fit: contain;
}
/* Timeline */
.home__timeline{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: black;
    position: relative;
    width: 5px;
    
}
.timeline{
    display: flex;
    align-items: center;
    margin: 10px;
    width: 400px;
}
.timeline:nth-child(even){
    position: relative;
    right: 8500%;
  
}
.timeline:nth-child(even)>.timeline__dot{
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 20px solid rgb(123, 123, 123);
    border-bottom: 10px solid transparent;
    border-right:none
}
.timeline:nth-child(even) .timeline__record h1{
    text-align: end;
}
.timeline__record{
   border: 10px solid gray;
   background-color: gray;
   padding: 20px;
}
.timeline__record h1{
    border-bottom: 1px solid black;
    font-family: 'Bebas Neue', cursive;
}
.timeline__record p {
    font-family: 'Teko', sans-serif;
    font-weight: lighter;
    font-size: 20px;
}
.timeline__dot{
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 20px solid rgb(123, 123, 123);
    border-bottom: 10px solid transparent;
}
.timeline:nth-child(even) .timeline__dot:nth-child(1){
    display: none;
}
@media screen and (max-width:1000px){
    .timeline:nth-child(even){
        right:0;
    }
    .timeline:nth-child(even) .timeline__dot:nth-child(1){
        display: block;
        border-right: 20px solid rgb(123, 123, 123);
        border-left: none;
    }
    .timeline:nth-child(even) .timeline__dot:nth-child(3){
        display: none;
    }
    .timeline{
        width: 100%;
        justify-content: center;
        text-align: center;
    }
    .timeline__record > .timeline__dot{
        display: none;
    }
    .timeline:nth-child(even) .timeline__record h1{
        text-align: center;
    }
    .home__timeline{
        width: 100%;
        background-color: transparent;
    }
}